#slider .ui-slider-range {
    background: #4CAF50;
}

#slider .ui-slider-handle {
    background: #2196F3;
}

.slider {
    width: 600px;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
    position: absolute;
}
